@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-text: #0f0f0f;
  --color-primary: #eac360;
  --color-secondary: #ffffff;
  --color-dark: #cda42a;
  --color-bg: #262626;

  --font-dm-sans: 'DM Sans', sans-serif;
  --font-awesome: 'FontAwesome', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-dm-sans);
}

html {
  scroll-behavior: smooth;
}

.noscroll {
  overflow: hidden;
  height: 100vh;
}

@layer utilities {
  .bg-hover-expand {
    background-image: linear-gradient(90deg, rgba(234, 195, 96, 0.52) 0%, rgba(234, 195, 96, 0) 100%);
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: background-size 0.4s ease;
  }

  .bg-hover-expand:hover {
    background-size: 100% 100%;
  }

  .nav-hover-gradient {
    transition: all 0.2s ease;
  }

  .nav-hover-gradient:hover {
    background: linear-gradient(90deg, rgba(234, 195, 96, 0.9) 40%, rgba(234, 195, 96, 0) 110%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .nav-hover-gradient-mobile {
    transition: all 0.2s ease;
  }

  .nav-hover-gradient-mobile:hover {
    background: linear-gradient(90deg, rgba(38, 38, 38, 1) 40%, rgba(38, 38, 38, 0) 110%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .btn-primary {
    @apply bg-primary text-bg rounded-lg px-6 py-3 text-xl font-semibold text-center transition-all duration-300 border-2 border-transparent;
  }

  .btn-primary:hover {
    @apply bg-transparent text-primary border-primary;
  }

  input.custom-no-spinner::-webkit-outer-spin-button,
  input.custom-no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input.custom-no-spinner {
    -moz-appearance: textfield;
  }

  .focus-none:focus {
    outline: none;
    box-shadow: none;
  }
}
